* {
    font-family: Helvetica, Arial, sans-serif;
}

.code {
    font-family: monospace;
    color: #007bff;
}

.footnote {
    font-size: 12px;
    color: gray;
    margin-bottom: 0rem;
}

.ig-gradient,.tableCount {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lg-icon {
    font-size: 64px;
    color: #000;
}

#uploadCarousel > .carousel-inner > .carousel-item {
    min-height: 300px;
}

.navbar-brand h1 {
    font-size: 24px;
    font-weight: 600;
}

.tableCount {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 200;
}